version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    command: npm run dev
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    restart: always
